/* Footer.jsx */

/* PRE FOOTER */
.footerSuperRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preFooter {
  max-width: 1200px;
  margin-bottom: -120px;
  padding: 50px 100px 53px 70px;
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 rgba(0, 4, 48, 0.3);
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #2b4eff;
}

.preFooterBg {
  position: absolute;
  bottom: -48px;
  right: -148px;
}

.preFooterInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.preFooterHeader {
  flex: 0 0 auto;
  width: 60%;
  position: relative;
  z-index: 1;
  font-size: 46px;
  color: #fff;
  max-width: 560px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 100%;
}

.preFooterRight {
  z-index: 1;
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.preFooterButton {
  display: inline-block;
  color: #0e1133 !important;
  height: 54px;
  line-height: 58px !important;
  background: #fff !important;
  padding: 0 45px !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  text-align: center;
}

.preFooterButton:hover {
  box-shadow: 0 10px 24px 0 rgba(4, 23, 118, 0.3);
}

/* FOOTER */
.footerRoot {
  background: #0e1133;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.footerMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 190px 0px 40px 0px;
  text-align: left;
  /* Media Queries */
  max-width: 1200px;
}

.footerNavLinkColumn {
  max-width: 18.18%;
  margin-bottom: 50px;
}

.footerMainHeading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 5px;
  margin-bottom: 22px;
}

.footerCompanyDescription {
  font-size: 16px;
  line-height: 24px;
  color: #a1a2ab;
  margin-top: 22px;
  margin-bottom: 30px;
}

.footerSmallText {
  font-size: 14px;
  line-height: 20px;
  color: #83848a;
  padding-right: 60px;
  margin-top: 15px;
}

.footerAttribution {
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #1c1f3f;
  font-size: 14px;
  text-align: center;
  color: #83848a;
}

// social icons
.footerSocialButton {
  display: inline-block;
  font-size: 15px;
  width: 44px;
  height: 44px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #285da1;
  background: #285da1;
  border-radius: 4px;
  color: #fff;
  margin-right: 7.5px;
}

.footerTwitterButton {
  background: #03a9f4;
  border-color: #03a9f4;
}

.footerPinterestButton {
  background: #d2173f;
  border-color: #d2173f;
}

// for navigation link
ul.ui.list,
.ui.bulleted.list {
  margin-left: 0px;
}

.ui.link.list[role='list'] > li {
  line-height: inherit;
}

.ui.link.list[role='list'] > li > a {
  color: #a1a2ab;
  margin-bottom: 4px;
}

// for subscribe input
.ui.action.input > input {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  padding-right: 30px;
  padding-right: 50px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 400;
  color: #0e1133;
}

.ui.action.input > button.ui.icon.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  background: #2b4eff;
  width: 70px;
  height: 60px;
  overflow: hidden;
}
