/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element specify theme name below */

/* Global */
@site        : 'educal';
@reset       : 'educal';

/* Elements */
@button      : 'educal';
@container   : 'educal';
@divider     : 'educal';
@flag        : 'educal';
@header      : 'educal';
@icon        : 'educal';
@image       : 'educal';
@input       : 'educal';
@label       : 'educal';
@list        : 'educal';
@loader      : 'educal';
@placeholder : 'educal';
@rail        : 'educal';
@reveal      : 'educal';
@segment     : 'educal';
@step        : 'educal';

/* Collections */
@breadcrumb  : 'educal';
@form        : 'educal';
@grid        : 'educal';
@menu        : 'educal';
@message     : 'educal';
@table       : 'educal';

/* Modules */
@accordion   : 'educal';
@checkbox    : 'educal';
@dimmer      : 'educal';
@dropdown    : 'educal';
@embed       : 'educal';
@modal       : 'educal';
@nag         : 'educal';
@popup       : 'educal';
@progress    : 'educal';
@rating      : 'educal';
@search      : 'educal';
@shape       : 'educal';
@sidebar     : 'educal';
@sticky      : 'educal';
@tab         : 'educal';
@transition  : 'educal';

/* Views */
@ad          : 'educal';
@card        : 'educal';
@comment     : 'educal';
@feed        : 'educal';
@item        : 'educal';
@statistic   : 'educal';

/* Extras */
@main        : 'educal';
@custom      : 'educal';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '~volto-themes';

/* Path to site override folder */
@siteFolder  : "../../theme";

/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";
@fontPath : "~educal-volto-themes/educal/assets/fonts";

/* End Config */
